div.comment-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 120px; /* Set a minimum height to avoid overlapping */
}

div.comment-card.owner {
  border-color: white;
}

div.comment-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

div.comment-card .comment-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

div.comment-card .comment-buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

div.comment-card .comment-buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 12px;
  padding: 8px 12px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

div.comment-card .comment-buttons button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}

div.comment-card .comment-buttons button:hover {
  color: #333;
  background-color: #f9f9f9;
}

div.comment-card .menu-button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  color: #333;
  transition: color 0.3s ease;
}

div.comment-card .menu-button:hover {
  color: #333;
}

div.comment-card .comment-menu-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

div.comment-card .comment-menu.visible .comment-menu-options {
  display: block;
}

div.comment-card .comment-menu-options button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

div.comment-card .comment-menu-options button:hover {
  background-color: #f9f9f9;
  color: #333; /* Change text color on hover */
}

.comment-card .comment-textarea {
  width: 90%; /* Set the width to 100% to fill the available space */
  height: 150px; /* Set the desired height for the textarea */
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

