.home-container {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}

