.like-count {
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease; 
}

.like-count:hover {
  color: #007bff; 
}

.like-button-container {
  display: flex;
  align-items: center;
}

.like-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.like-button:hover {
  background-color: #0056b3;
}

.like-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.like-button.unliked.disabled {
  background-color: #dc3545;
}


.thumbs-up-icon,
.thumbs-down-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.like-button.liked {
  background-color: rgb(91, 162, 111); 
}

.like-button.unliked {
  background-color: rgb(151, 69, 69); 
}

.likers-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  top: 100%;
  left: 0;
}



