:root {
  --primary-color: #0079d3;
  --hover-color: #0056b3;
  --background-color: #ffffff;
  --border-color: #ccc;
  --text-color: #333;
}

/* Login Form */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text-color);
}

.input-group {
  position: relative;
}

input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 3px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
}

.checkbox-group label {
  margin-right: 10px;
  color: var(--text-color);
  font-weight: normal;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

button[type="submit"] {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: var(--hover-color);
}

/* Error Container */
.error-container {
  color: red;
  margin-top: 10px;
}
