.not-found {
    text-align: center;
    margin-top: 100px;
}

.not-found h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ff4500;
}

.not-found p {
    font-size: 24px;
    color: #555;
}
