.profile-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tabs button.active {
  background-color: #0056b3;
}

.user-info-container {
  width: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.details p {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.bio p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

/* Profile.css */
.change-profile-picture-button {
  transition: background-color 0.3s;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.change-profile-picture-button:hover {
  background-color: #0056b3;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #007bff;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s; 
}

.avatar img:hover {
  border-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, box-shadow 0.3s; 
}

.avatar {
  position: relative;
  display: inline-block;
}

.profile-picture-label {
  position: relative;
  display: inline-block;
}


.camera-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fff; 
  border-radius: 50%; 
  padding: 5px; 
  cursor: pointer;
}